<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    <!-- Incluez Tailwind CSS et DaisyUI -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.9.0/dist/full.css" rel="stylesheet">

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body class="bg-gray-100">
    {% block body %}
    <!-- Utilisez les classes Tailwind et DaisyUI ici -->
    <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex items-center space-x-4">
        <div class="flex-shrink-0">
            <img class="h-12 w-12" src="/img/logo.svg" alt="Logo">
        </div>
        <div>
            <div class="text-xl font-medium text-black">Tailwind & DaisyUI</div>
            <p class="text-gray-500">Intégré avec succès!</p>
        </div>
    </div>
    {% endblock %}
</body>
</html>
