@import "../commons/colors.scss";

.btn-confirmer {
	background-color: $rose;
	color: $vert-fonce;
	border: none;

    &:hover {
        background-color: $rose-clair;
    }
}

.btn-ajout-retrait {
    background-color: $rose;
    color: $vert-fonce;
    border: none;
    border-radius: 0;
    font-weight: bold;

    &:hover {
        background-color: $rose-clair;
    }
}

.btn-radio {
    input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #d1d3d1;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #ffa500;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }
}