@import '../commons/colors.scss';

.rose-color{
    color: $rose ;
}

.back-rose-clair{
    background-color: $rose-clair ;

    &:hover{
        color: $vert-fonce ;
    }
}

.vert-color{
    color: $vert-fonce ;
}

.titre-background{
    background-color: $rose ;
}

.gris-background{
    background-color: $gris ;
}