@import '../commons/colors.scss';

.rose-color{
    color: $rose ;
}

.vert-color{
    color: $vert-fonce ;
}

.titre-background{
    background-color: $rose ;
}

.gris-background{
    background-color: $gris ;
}