@import '../commons/colors';

.vert {
    background-color: $vert-fonce;
}

.divImage{
    display: flex;
    justify-content: center;
    padding: 10px;
    img{
        width: 120px;
        border-radius: 100%;
    }
}


.divider-white::before,
.divider-white::after {
	background-color: $blanc;
}

.btn-adm{
    background-color: $vert-fonce;
    color: $blanc;
    border-radius: 0;
    border-color: $vert-fonce;

    &:hover{
        background-color: $vert;
    }
}